.header {
	grid-area: header;
	display: flex;
	height: 10rem;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: white;
	gap: 1rem;
}

.header h1 {
	/* text-align: center; */
	font-weight: 700;
}

.header img {
	width: 1em;
}
